---
import MainLayout from "@layouts/MainLayout.astro"
import Avatar from "@components/Avatar.astro"
import Icon from "astro-icon"
import LinksLayout from "@layouts/LinksLayout.astro"
import Link from "@components/Link.astro"
import Social from "@components/Social.astro"
---

<MainLayout title="Sylvain's tree">
  <Avatar />
  <p class="text-white bg-gray-500 rounded p-2 bg-opacity-30 text-center">
    Hello and Welcome to my Linktree made with 
    <img src="/logos--astro.svg" alt="Astro logo" class="inline h-6 w-auto" /><br>
    You'll find all my links here, so feel free to explore!
  </p>

  <LinksLayout>
   
    <Link

      linkTitle=' My Portfolio'
      linkLogo='perso.png'
      linkDescription='Look at my portfolio!'
      linkUrl='#'
    />
    <Link
      linkTitle='IG'
      linkLogo='skill-icons--instagram.svg'
      linkDescription='Not only my work'
      linkUrl='https://www.instagram.com/sylvain_del_kob/'
      />
      <Link
      linkTitle='Linkedin'
      linkLogo='skill-icons--linkedin.svg'
      linkDescription='My relationships'
      linkUrl='https://www.linkedin.com/in/sylvain-deligny-66b370235/'
      />
      <Link
      linkTitle='Github'
      linkLogo='fa6-brands--square-github.svg'
      linkDescription='Some of my work'
      linkUrl='https://github.com/DelignyS/'
      />
      <Link 
      linkTitle='X'
      linkLogo='devicon--twitter.svg'
      linkDescription='but I prefere daily.dev'
      linkUrl='https://twitter.com/DelignySylvain'
       />
       <Link 
      linkTitle="Discord"
      linkLogo='logos--discord-icon.svg'
      linkDescription="Let's chat"
      linkUrl='https://discordapp.com/users/380407714544615426'

      />
      <Link 
      linkTitle="THP"
      linkLogo='thp2.png'
      linkDescription="The current bootcamp I'm in"
      linkUrl='https://www.thehackingproject.org/'
      />
      <Link
      linkTitle='Astro'
      linkLogo='/vscode-icons--file-type-astro.svg'
      linkDescription='Some documentation '
      linkUrl='https://www.astro.build'
      />


  </LinksLayout>

</MainLayout>
