---
import MainLayout from "@layouts/MainLayout.astro"
import Avatar from "@components/Avatar.astro"
import Icon from "astro-icon"
import LinksLayout from "@layouts/LinksLayout.astro"
import Link from "@components/Link.astro"
import Social from "@components/Social.astro"
---

<MainLayout title="Sylvain's tree">
  <Avatar />
  <p class="text-white bg-gray-500 rounded p-2 bg-opacity-30 text-center">
    Hello and Welcome to my Linktree made with 
    <img src="/logos--astro.svg" alt="Astro logo" class="inline h-6 w-auto" /><br>
    You'll find all my links here, so feel free to explore!
  </p>

  <LinksLayout>
   
    <Link

      linkTitle=' My Portfolio'
      linkLogo='perso.png'
      linkDescription='Look at my portfolio!'
      linkUrl='#'
    />
    <Link
      linkTitle='My IG'
      linkLogo=''
      linkDescription='Read my blog'
      linkUrl='#'

    <Link
    linkTitle='Astro'
    linkLogo='/logos--astro.svg'
    linkDescription='If you want to read some documentation '
    linkUrl='https://www.astro.build'
  />
  </LinksLayout>

</MainLayout>
