---
import { Icon } from "astro-icon"
---

<div class='flex justify-between w-5/6 mt-20 text-teal-300'>
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://www.twitter.com/@stefanrows'
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:twitter' />
  </a>
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://www.github.com/stefanrows'
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:github' />
  </a>
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://www.linkedin.com/stefanrows'
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:linkedin' />
  </a>
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://www.instagram.com/stefanrows'
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:instagram' />
  </a>
  <a
    class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
    href='https://www.youtube.com/stefanrows'
  >
    <Icon class='w-8 md:w-12 xl:w-14' name='mdi:youtube' />
  </a>
</div>
